* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Nunito', sans-serif;
}

body {
   background-image: url(../img/hero-bg.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
   position: relative;
}

.nav-item a,
.nav-item a:active,
.nav-item a:focus,
.nav-item a:hover {
   font-size: 16px;
   font-weight: 700;
}

.nav-item a{
   color: #012970;
}
.nav-item a:hover {
   color: #4154f1;
}

#title{
   color: #012970;
   font-size: 30px;
   font-weight: 700;
}

nav {
   background-color: transparent;
   /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
   padding: 20px 0;
   top: 0;
   width: 100%;
   z-index: 999;
}

#get-started {
   background-color: #4154f1;
   border-radius: 50px;
   color: #fff;
   font-size: 16px;
   font-weight: 700;
   padding: 10px 30px;
}
#get-started:hover {
   background-color: #012970;
}

.hero {
   margin-top: 100px;
}

.lead {
   font-size: 20px;
   font-weight: 700;
}